.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container img{
  height: 300px;
  width: 300px;
}

.container p{
  color: green;
  font-size: 25px;
  font-weight: 600;
}

